.navContainer{
    position:sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;
    opacity: 0.79;
}
.navbar-logo{
    justify-content: start;
    margin-left: 5%;
    color: white;
    cursor: pointer;
}
.carrito{
    font-size: 25px;
    margin-right: 5%;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;
}
.navbarIzquierda{
    display: flex;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 2.25%;
}
.contador{
    justify-content: center;
    background-color: rgb(255, 166, 0);
    width: 30px;
    border-radius: 100%;
    color: white;
    padding:2%;
    display: flex;
}